@import "vars";

button {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: $light-comp-bg-normal;
  border: 2px solid $light-bdr-int-normal;
  color: $light-gray-txt-low;
  font-size: 24px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  color: $light-txt-low;
  background-color: $light-comp-bg-hover;
  border: 2px solid $light-bdr-int-hover;
}
button:active {
  background-color: $light-comp-bg-selected;
}
