@import "vars";

button {
  padding: 5px 20px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: $gray-comp-bg-normal;
  border: 3px solid $gray-bdr-int-normal;
  color: $gray-txt-low;
  font-size: 24px;
  font-weight: 700;
}
button:hover {
  color: $txt-low;
  background-color: $comp-bg-hover;
  border: 3px solid $bdr-int-hover;
}
button:active {
  background-color: $comp-bg-selected;
}
