@import "vars";

footer {
  height: 120px;
  background-color: $light-scnd-bg;
  border-top: 3px solid $light-bdr-non-int;
  p {
    width: 30%;
    margin: auto;
    font-size: 14px;
    text-align: center;
    margin-top: 80px;
  }
}
