@import "vars";

header {
  position: fixed;
  top: 0;
  max-width: 1438px;
  width: 100%;
  height: 90px;
  background-color: $scnd-bg;
  border-bottom: 3px solid $bdr-non-int;
  ul {
    width: 50%;
    height: 100%;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      font-weight: 500;
    }
    li:hover {
      color: $txt-low;
    }
  }
}
