@import "vars";

.section__about {
  min-height: 470px;
  padding: 0px 200px;
  p {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    font-size: 36px;
    text-align: center;
    @media (max-width: 1000px) {
      font-size: 32px;
    }
  }
}
