@import "vars";

.section__skills {
  min-height: 480px;
  padding: 0px 170px;
  .group-skills {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    div {
      max-width: 300px;
      width: 30%;
      background-color: $light-gray-comp-bg-normal;
      padding: 20px;
      border-radius: 10px;
      ul {
        margin-top: 20px;
        list-style: none;
        color: $light-gray-txt-low;
        li {
          display: flex;
          align-items: center;
          svg {
            font-size: xx-large;
            margin: 5px 0px;
            width: 100%;
            max-width: 90px;
          }
        }
      }
    }
  }
}
