@import "vars";

.section__intro {
  min-height: 1100px;
  padding: 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  p {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .intro__buttons {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
  }
  img {
    border: 3px solid $light-bdr-non-int;
    width: 300px;
    min-width: 200px;
    border-radius: 50%;
  }
  @media (max-width: 1000px) {
    padding: 0px 100px;
  }
}
