// VARIABLES //
$main-bg: #fdfdff;
$scnd-bg: #f8f8ff;
$comp-bg-normal: #f0f1fe;
$comp-bg-hover: #e6e7ff;
$comp-bg-selected: #dadcff;
$bdr-non-int: #cbcdff;
$bdr-int-normal: #b8baf8;
$bdr-int-hover: #9b9ef0;
$solid-bg-normal: #5b5bd6;
$solid-bg-hover: #5151cd;
$txt-low: #5753c6;
$txt-high: #272962;

$gray-main-bg: #fcfcfd;
$gray-scnd-bg: #f9f9fb;
$gray-comp-bg-normal: #f0f0f3;
$gray-comp-bg-hover: #e8e8ec;
$gray-comp-bg-selected: #e0e1e6;
$gray-bdr-non-int: #d9d9e0;
$gray-bdr-int-normal: #cdced6;
$gray-bdr-int-hover: #b9bbc6;
$gray-solid-bg-normal: #8b8d98;
$gray-solid-bg-hover: #80838d;
$gray-txt-low: #60646c;
$gray-txt-high: #1c2024;
